body{
   background : White;
}

h1 {
    color :Blue;
}

div#prediction{
text-align: center;
float:right;
background:DodgerBlue; 
width:50%;
margin-left:-50%;
}


div#day{
background:DodgerBlue; 
}

.dayp{
background : White;
margin-left: 30px;
margin-right: 30px;
}

#note{
font-size : 10px;
}

.header{
background :#8ec7ff;
}

.cell{
text-align: center;
border :none;
}
