<!doctype html>
<html>
   <head>
      <script src="https://d3js.org/d3.v4.min.js"></script>
      <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="style2.css") }} ">   
   </head>
   <body>
      <h1>Facebook stock option prices trend</h1>
      <table border=2>
            <th class="header"> Date </th>
            <th class="header"> Closing Price($) </th>
               {% for key0 in result[0] %} 
                  <tr> 
                       <td class="cell">{{ result[1][key0] }} </td> 
                       <td class="cell">{{ result[2][key0] }} </td> 
                  </tr>
               {% endfor %}
      </table>
   </body>
</html>
